/* DEFAULT 1.2.0 - 2/2014 copyright (c) templatesuper.com | @templatesuper */

html {
    overflow-x: hidden;
}
body {
    font-family: 'Open Sans', sans-serif;
}
/* General */

#main {
    width: 100%;
}
#about,
#about_early,
#services,
#portfolio,
#team,
#blog,
#contact {
    padding-top: 60px;
    padding-bottom: 80px;
}
#about h3,
#services h3,
#portfolio h3,
#team h3,
#blog h3,
#contact h3 {
    font-size: 3.5em;
    font-family: sans-serif;
    text-transform: uppercase;
    margin-bottom: 35px;
}
.line-separator {
    display: inline-block;
    height: 1px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    background: #1b2124;
    border-bottom: 1px solid #d5d5d5;
}
.full-separator {
    width: 100%;
    content: '';
    display: inline-block;
    border-bottom: 1px solid #d5d5d5;
}
.warning {
    border-radius: 12px;
    background-color: #C13050;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 2px;
    margin-top: 15px;
    margin-bottom: 10px;
}
/* Navbar */
.navbar-contact-info ul li {
    display: inline;
    padding-right: 20px;
}


.navbar-contact span,
.navbar-contact b {
    color: #fafafa;
}
.navbar-contact ul li {
    display: inline;
    font-size: 1.2em;
    color: #666;
    margin-right: 10px;
}
.site-navbar {
    /*top: 50px;*/
    background: 
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    -webkit-gradient(linear, left top, left bottom, color-stop(2%, #fcfcfc), color-stop(100%, #f9f9f9));
    background: 
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    -webkit-linear-gradient(top, #fcfcfc 2%, #f9f9f9 100%);
    background: linear-gradient(to bottom, #fcfcfc 2%, #f9f9f9 100%);
    border-bottom: 1px solid #dedede;
    min-height: 50px;
    padding: 20px 0;
    padding-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}
.nav .navbar-nav .navbar-right {
    padding: 200px;
}
.site-navbar li a {
    -webkit-transition: background 0.25s;/* Safari */
    transition: background 0.25s;
    border-radius: 11px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    min-width: 120px;
}
.nav>li>a:focus,
.nav>li>a:hover {
    background-color: #fff;
}
.navbar-brand {
    opacity: 0.9;
    padding-top: 0;
}
.navbar-brand img {
    vertical-align: middle;
}
.navbar-toggle .icon-bar {
    background: #bdbdbd;
}
.navbar-toggle {
    border: 1px solid #bdbdbd;
    border-radius: 0;
}
/* Main */

.site-main {
    margin-top: 90px;
}
/* Carousel */

.carousel-inner .item img {
    width:100%;
}
.carousel-caption {
    transform: translateY(-60%);
    top: 50%;
    position: absolute;
        padding: 0;
}
.carousel-caption h3 {
    font-size: 2.7em;
    font-weight: bold;
}
.carousel-caption span {
    display: inline-block;
    font-size: 1.6em;
    text-shadow: 1px 1px 1px #000;
}
.carousel-control span {
    top: 50%;
    margin-top: -10px;
    right: 30px;
    position: absolute;
}
.carousel-control.left span {
    right: auto;
    left: 30px;
}
/* Does */

#does {
    padding-top: 30px;
    padding-bottom: 30px;
    background: linear-gradient(0deg, #f2f2f2, #ffffff);
    background: linear-gradient(0deg, #f2f2e2, #ffffff);
    color: #333;
    line-height: 30px;
}
/* #does .container {
    border-radius: 20px;
    border: 1px solid #333;
    padding: 20px;
    background: linear-gradient(0deg, #f2f2f2, #ffffff);
    background: linear-gradient(0deg, #f2f2e2, #ffffff);
} */

#does h4 {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
#does p {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    color: #000000;
}
#does span {
    width: 200px;
    height: 200px;
    display: inline-block;
    border: 0px solid #fff;
    border-radius: 220%;
    margin-bottom: 10px;
    background-position: center;
}
#does span .undersoekelser {
    all: inherit;
    background-image: url("../images/3.jpg");
}
#does span .trygdesaker {
    all: inherit;
    background-image: url("../images/2.jpg");
}
#does span .sakkyndighetsoppdrag {
    all: inherit;
    background-image: url("../images/1.jpg");
}
/* Services */

#services {
    background: linear-gradient(0deg, #f2f2f2, #ffffff);
    color: #333;
    line-height: 30px;
}
#services h3 {
    margin-bottom: 40px;
}
#services p {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    color: #000000;
}
#services .tjenester-avsnitt {
    font-size: 1.1em;
}
#services .tjenester-avsnitt .paragraph {
    margin-bottom: 50px;
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.15em;
    color: #000000;
}
#services .tjenester-avsnitt ul {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}
#services .tjenester-avsnitt li {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #333;
}
#services span {
    width: 200px;
    height: 200px;
    display: inline-block;
    border: 0px solid #fff;
    border-radius: 20%;
    margin-bottom: 20px;
    background-color: #fff;
    opacity: 0.9;
}
#services span .undersoekelser {
    all: inherit;
    background-image: url("../images/3.jpg");
}
#services span .trygdesaker {
    all: inherit;
    background-image: url("../images/2.jpg");
}
#services span .sakkyndighetsoppdrag {
    all: inherit;
    background-image: url("../images/1.jpg");
}
#services span i {
    font-size: 5em;
    padding: 65px 50px;
}
#services span i.fa-mobile {
    font-size: 7.5em;
    padding: 50px 50px;
}
#services span i.fa-thumbs-up {
    padding: 60px 50px;
}
#services h4 {
    font-size: 1.6em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
/* ABOUT */
/* #about .icon-about {
    margin-left: auto;
    margin-right: auto;
    
    padding: 1px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
  -webkit-box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.1);  
} */

#about .icon-about img {
    margin-left: auto;
    margin-right: auto;
    padding: 1px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    -webkit-box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.1);
}
#about .icon-about p {
    margin-top: 30px;
}
#about p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    color: #222;
}
#about img {
    max-height: 80px;
    opacity: 0.5;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}
#about img:hover {
    opacity: 1;
}
#about .profil {
    background: #fcfcfc;
    border-radius: 13px;
    border: 1px solid #eee;
    -webkit-box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
#about .profileimg:hover ul {
    display: block;
}
/* CLIENT */

.client {
    display: inline-block;
    margin: 0 10px 20px;
}
.client img {
    max-width: 100%;
    opacity: 0.3;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}
.client:hover img {
    opacity: 0.8;
}
.client a,
.b-client img {
    display: inline-block;
}
/* TOOLTIPS */

.tooltips {
    position: relative;
}
/*.tooltips a{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.tooltips a img {
    display: block;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
} */

.tooltips:hover .tooltips-data {
    top: -5px;
    left: 50%;
    opacity: 1;
    -webkit-transition: opacity 0.2s ease-in-out, left 0s ease-in-out, top 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out, left 0s ease-in-out, top 0.2s ease-in-out;
}
.tooltips-data {
    position: absolute;
    top: -10px;
    left: -9999px;
    z-index: 99;
    padding: 5px 11px 5px;
    -webkit-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
    background: rgba(36, 39, 42, 0.8);
    border-radius: 2px;
    white-space: nowrap;
    line-height: 20px;
    font-weight: normal;
    font-size: 11px;
    color: #dee2e6;
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in-out, left 0s ease-in-out 0.2s, top 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out, left 0s ease-in-out 0.2s, top 0.2s ease-in-out;
}
.tooltips-data:after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 50%;
    margin-left: -2px;
    border-top: 4px solid #4e5153;
    border-left: 4px dashed transparent;
    border-right: 4px dashed transparent;
}
/* Contact */

#contact {
    background: #f2f2f2;
    background: linear-gradient(0deg, #fff, #eee);
}
.fluid-wrapper {
    position: relative;
    height: 350px;
    margin-bottom: 40px;
}
.fluid-wrapper #left {
    left: 0;
    width: 60%;
}
.fluid-wrapper #right {
    left: 60%;
    width: 40%;
}
.fluid-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1%;
    border: none;
}
#contact .fa {
    font-size: 1.2em;
    color: #8f8f8f;
}
#contact h4 {
    font-size: 1.7em;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 1em;
}
#contact iframe {
    float: right;
    border: 1px solid #dedede;
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    position: absolute;
    right: 0px;
}
.mail {
    font-size: 1.3em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #666;
    padding-left: 50px;
    padding-bottom: 20px;
}
.mail span {
    position: fixed;
    left: 16px;
    margin-left: 5px;
}
.frm input[type="text"],
.frm input[type="email"] {
    background: #fcfcfc !important;
    border-radius: 0 !important;
    height: 50px;
}
textarea {
    background: #fcfcfc !important;
    border-radius: 0 !important;
    padding: 10px !important;
    font-size: 1.2em;
}
.btn-biru {
    background: #1b93c7;
    border-radius: 0 !important;
    border: 0 !important;
}
.btn-biru:hover {
    background: #0170a0;
}
#success p {
    padding: 15px;
}
/* footer */

footer {
    background: #1b2124;
    padding-top: 30px;
    text-align: center;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 100px;
    font-weight: 300;
    color: #fff;
}
footer a {
    font-weight: 400;
    color: #fff;
    text-shadow: 0;
    text-decoration: underline;
}
.scroll-to-top a {
    color: #fff;
    display: block;
    line-height: 40px;
    width: 40px;
    height: 40px;
}
.scroll-to-top {
    background: #333;
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    border-radius: 4px;
    z-index: 9999;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
}
.scroll-to-top.affix {
    opacity: .5;
    filter: alpha(opacity=50);
}
.affix {
    position: fixed;
}
/* MODAL */

.modal-body img {
    width: 100%;
    height: auto;
}
.modal-body {
    padding: 3px;
}
.modal-content {
    border-radius: 0;
}
button.close {
    background: #1b93c7 !important;
    padding: 10px !important;
    opacity: 1 !important;
    text-shadow: none !important;
    color: #fff !important;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
}
/* SINGLE BLOG */

#single {
    padding-top: 30px;
    margin-bottom: 40px;
}
#single .titlesingle {
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dashed #dedede;
}
#single .titlesingle h1 {
    font-size: 3em;
}
#single p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    font-weight: 300;
    color: #444;
}
#single p.datesingle {
    text-align: center;
    font-size: 1.6em;
}
.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}
.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
/* CUSTOM RESPONSIVE */
@media (max-width: 1450px) {
    .carousel-caption {
        top: 40%;
        position: absolute;
    }
    .carousel-caption h3 {
        font-size: 2.5em;
    }
    .carousel-caption span {
        font-size: 1.4em;
    }
}
@media (max-width: 991px) {
    .site-main {
        margin-top: 70px;
    }
    .carousel-caption {
        top: 50%;
        padding: 0;
    }
    .carousel-caption h3 {
        font-size: 2.0em;
    }
    .carousel-caption span {
        font-size: 1.1em;
    }
    .navbar-contact {
        display: none;
    }
    .container {
        width: 767px;
    }
    .site-navbar {
        padding-right: 0px;
        padding-left: 0px;
        top: 00px;
    }
    .navbar-brand img {
        width: 270px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
    }
    .navbar-right {
        margin-right: 0px;
    }
    .navbar-nav li a {
        min-width: 30px;
    }
    #contact iframe {
        float: none;
        width: 100%;
    }
}
@media (max-width: 767px) {
    #about .profil {
        margin-bottom: 30px;
    }
    #does div:not(:last-child) {
        margin-bottom: 40px;
    }
    h4,
    p {
        text-align: center;
    }
    .container {
        width: inherit;
    }
    #about h3,
    #services h3,
    #portfolio h3,
    #team h3,
    #blog h3,
    #contact h3 {
        font-size: 3em;
        text-align: center;
    }
    .frm .col-md-6,
    .frm .col-md-12 {
        padding: 0;
    }
    .carousel-caption {
        top: 35%;
        padding: 0;
    }
    .carousel-caption h3 {
        font-size: 1.2em;
    }
    .carousel-caption span {
        font-size: 1.1em;
    }
    .alignright,
    .alignleft {
        width: 100%;
    }
    .fluid-wrapper iframe {
        padding: 0%;
    }
    .fluid-wrapper #left {
        width: 100%;
    }
    .fluid-wrapper #right {
        width: 0%;
    }
    .navbar-brand img {
        position: absolute;
        top: 0;
        bottom: 67%;
        left: 0;
        right: 0;
        margin: auto;
        width: 300px;
    }
    .site-navbar {
        padding-bottom: 0px;
    }
    .navbar-collapse ul {
        padding: 0px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin: 0px;
    }
    .navbar-collapse ul li {
        padding: 5px;
    }
    .navbar-collapse ul li:not(:last-child) {
        border-bottom: 1px solid #f4f4f4;
    }
    .container {
        width: inherit;
    }
}